<div class="row">
    <div class="col-sm-12">
        <h1>Sorry, you lost!</h1>
        <p>This is because your HP has dipped below zero, or because one or both of the players ran out of cards and your HP was the lowest.</p>

        <form id="static-form" action="/privategame" method="get">
            <div class="form-group">
                <button type="submit">Play Again!</button>
            </div>
        </form>
    </div>
</div>