<div class="row">
    <div class="col-sm-12">
        <h1>arcanawar</h1>

        <div class="row">
            <div class="col-sm-6 bg-success text-center">
                <h1 id="aiHP"></h1>
            </div>
            <div class="col-sm-6 bg-danger text-center">
                <h1 id="userHP"></h1>
            </div>
        </div>

        <form id="static-form" action="privategame" method="post">
            <div class="form-group">
                <label for="input">Enter below</label>
                <textarea class="form-control" rows="2" id="input"></textarea>
            </div>
            <div class="form-group hidden" id="error-container">
                <div class="alert alert-danger text-goes-here">
                </div>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <h1>Results</h1>
            <ol id="savedInputs"></ol>
        </form>

        <form id="static-form" action='privategame/logout' method="post">
            <div class="form-group">
                <button type="submit">Log Out</button>
            </div>
        </form>

    </div>
</div>

{{!-- <script type="text/javascript" src="public/js/simulation"></script> --}}