<div class="row">
    <div class="col-sm-12">
        <h1>arcanawar</h1>

        <div class="row">

            <div class="col-sm-6">
                <form id="new-form" action='/profile' method="get">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Profile</button>
                    </div>
                </form>
            </div>


            <div class="col-sm-6">
                <form id="logout-form" action='privategame/logout' method="post">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Log Out</button>
                    </div>
                </form>

            </div>

        </div>




        <div class="row">
            <div class="col-sm-6 bg-success text-center">
                <h1 id="userHP"></h1>
            </div>
            <div class="col-sm-6 bg-danger text-center">
                <h1 id="aiHP"></h1>
            </div>
        </div>



        <div id="cardsContainer">

        </div>


        <br>
        <ul>
            {{#each cards}}
            <div class="row bg-primary">
                <div class="col-sm-6">
                    {{this.title}}
                </div>
                <div class="col-sm-6 bg-primary">
                    {{this.type}} : {{ this.value }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{this.desc}}
                </div>
            </div>
            <hr> {{/each}}
        </ul>

        <h1 id="outputusercards"></h1>

        <form id="static-form">

            <div class="form-group">
                <input type="radio" name="cards" value="1" id="myRadio 0" checked> Card One
                <input type="radio" name="cards" value="2" id="myRadio 1"> Card Two
                <input type="radio" name="cards" value="3" id="myRadio 2"> Card Three
                <input type="radio" name="cards" value="4" id="myRadio 3"> Card Four
                <input type="radio" name="cards" value="5" id="myRadio 4"> Card Five
            </div>

            {{!-- <div class="form-group">
                <label for="input">Enter below</label>
                <textarea class="form-control" rows="2" id="input"></textarea>
            </div>
            <div class="form-group hidden" id="error-container">
                <div class="alert alert-danger text-goes-here">
                </div>
            </div> --}}


            <div class="form-group">
                <button type="submit" class="btn btn-default">Play</button>
            </div>

            <h1>Results</h1>
            <ol id="savedInputs"></ol>
        </form>

        <p id="demo"></p>





    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="js/simulation.js"></script>
