<div class="row">
    <div class="col-sm-12">
        <h1>Congrats, you won!</h1>
        <p>This is because you have defeated your opponent. Good job you!</p>

        <form id="static-form" action="/privategame" method="post">
            <div class="form-group">
                <button type="submit">Play again!</button>
            </div>
        </form>
    </div>
</div>